<!DOCTYPE html>
<link rel="stylesheet" href="/style.css" media="screen">
<html>
    <h1 id="Title">VTTRPG Simulator</h1>
    <div id="decision">
    <button type="button" id="join_game">Join Game</button>
    <button type="button" id="create_game">Create Game</button>
    </div>

</html>