<div class="bar">
    <div class="bar-header">
        <input type="color" id="bar1color" name="bar1color" value={{BarColorValue}}>
        <h3>{{BarName}}</h3>
        <h3>{{AttributeName}}</h3>
    </div>
    <input type="number" id="bar-current">
    <label for="bar-max">/</label>
    <input type="number" id="bar-max">
    <input type="text" id="bar-name"></textarea>
</div>
