<div class="placeholder-styling">
    <input id="session-name-input" placeholder="Session Name">
    <input id="password-input" placeholder="Password">
    <input id="dm-password-input" placeholder="DM Password">
    <button id="create-session">Create Session</button>
</div>