<div id="image_selector_modal" class="menu">
    <button id="close-image-selector">Close</button>
    <div class="image_selector_header">
        <h2>Select an Image to draw with</h2>
    </div>
<div id="token_image_container">
    {{#each images}}
    <img class="token_image" src={{image}} width="64" height= "64">
    {{/each}}
</div>
</div>
<button id="close-image-selector">Close</button> 