<div class="join-session">
    <div class="first">
        <input id="username-input" placeholder="Username">
        <input id="password-input" placeholder="Password">
    </div>
    <div class="sec">
        <button id="join-session-player">Join As Player</button>
        <button id="join-session-dm">Join As The DM</button>
    </div>
</div> 