<div>
        <input id="username-input" placeholder="Username">
        <input id="password-input" placeholder="Password">
        <button id="join-session-player">Join As Player</button>
        <button id="join-session-dm">Join As DM</button>
    </div>