<div>
        <input placeholder="Username">
        <input placeholder="Password">
        <button id="join-session">Join As Player</button>
        <button id="join-session">Join As DM</button>
    </div>