<!DOCTYPE html>
<html></html>
<div id="player_list">
    {{#each players}}
    <div>
        <h3 class="playerlist_name">{{playername}}</h3>
        <h3 class="playerlist_role">{{playerrole}}</h3>
    </div>

    {{/each}}
</div>