<div id="savemap_modal" class="savemap">
    <input type="text" id="savemap_name" placeholder="Map Name">
    <button type="button" id="savemap_button">Save Battle Map</button>
    <button type="button" id="close_button">Close</button>
</div>