<div class="token-main">
    <div class="token-name">
        <label for="token-name-input"> {{TokenName}} </label>
        <input type="text" id="token-name-input">
    </div>

    <div class="token-nickname">
        <label for="token-nickname-input"> {{TokenNickname}} </label>
        <input type="text" id="token-nickname-input">
    </div>
    <div class="description">
        <label for="token-description-input"> {{TokenDescription}} </label>
        <textarea id="token-description-input"></textarea>
    </div>
</div>
<div id="bars">
    
    {{#each TokenBar}}

        {{> bar}}

    {{/each}}


    <h3 class="Token-Controller">Controlled by: </h3>
    <label for="visibletoplayers">Visible to Players:</label>
    <input type="checkbox" id="visible-to-players"> 
</div>
<button id="token-submit">Submit</button>
