/*general tools and icons by Owen Storm
/* buttons and side bars*/
.buttonTool {
    flex: 1 0 50px;

    box-shadow: 3px 3px 6px rgb(0 0 0 / 45%);
    border-radius: 12%;
    margin: 6px;
   
    background: rgb(73, 73, 73);
    color: rgb(253, 253, 253);
    border: solid 0px;

    transition: all ease-in-out 0.2s;

    padding: 10px;
   
    right: 16px;
    bottom: 20px;
    font-size: 24px;
}

.buttonTool:hover {
    cursor: pointer;
    background: #222222;
}

.buttonToolSide:hover {
    cursor: pointer;
    background: #222222;
}

.buttonToolSide {
    flex: 0 1 10px;

    box-shadow: 3px 3px 6px rgb(0 0 0 / 45%);
    border-radius: 12%;
    margin: 6px;

    height: 40px;
    width: 40px;
    transition: all ease-in-out 0.2s;
    
    font-size: 20px;
    background: rgb(73, 73, 73);
    color: rgb(253, 253, 253);
    border: solid 0px;

    padding: 10px;
}

#DMTools {
    display: flex;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    margin: auto;
}

#sideBar {

    display: flex;

    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 2px;
   
    transform: translate(-50%);
    position: absolute;
    margin: auto;

}




/* a class that can make elements hidden, can be added/removed in js*/
/*.hidden {
    visibility: hidden;
}
*/


/* Styling for Token Menu by Jaaron Green */
/*modificaitons done by Owen Storm*/
.token-close {
    position:relative;
    left: 173px;
    bottom: 4px;
    font-size: 20px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    padding-top: 2px;
    border: 0px;

    transition: all ease-in-out 0.2s;
}
.token-close:hover {
    cursor: pointer;
    background: rgb(73, 73, 73);
    color: #ececec;
}
.token-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    padding-left:197px;
}

.token-main {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    
}

.description {
    margin:10px;
}

#token-description-input {
    width: 494px;
    height: 100px;
    
}

#bars {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.bar1 {
    margin-left: 60px;
}
.bar2 {
    margin-left: 60px;
}
.bar3 {
    margin-left: 60px;
    margin-bottom: 20px;
}

.bar-header {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 130px;
    
}


#token-backdrop {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    width: 519px;
    background: rgb(73, 73, 73);
    color: rgb(253, 253, 253);
    border-radius: 2%;

}

#bar1color:hover {
    cursor: pointer;
    background: rgb(73, 73, 73);
    color: #ececec;
}
#bar2color:hover {
    cursor: pointer;
    background: rgb(73, 73, 73);
    color: #ececec;
}
#bar3color:hover {
    cursor: pointer;
    background: rgb(73, 73, 73);
    color: #ececec;
}
#bar1color {
    border: 0px;
    transition: all ease-in-out 0.2s;


    transform: rotate(45deg);
    background-color: #ececec;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 45%);
    padding:1px;
    padding-left: 3px;
    padding-right: 3px;
}
#bar2color {
    border: 0px;
    transition: all ease-in-out 0.2s;

    transform: rotate(45deg);
    box-shadow: 3px 3px 6px rgb(0 0 0 / 45%);
    background-color: #ececec;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    padding:1px;
    padding-left: 3px;
    padding-right: 3px;
}
#bar3color {
    border: 0px;
    transition: all ease-in-out 0.2s;

    transform: rotate(45deg);
    box-shadow: 3px 3px 6px rgb(0 0 0 / 45%);
    background-color: #ececec;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    padding:1px;
    padding-left: 3px;
    padding-right: 3px;
}


.token-body {
    width: 500px;
}


/* Styling for the main menu by Jaaron Green */
#title {
    text-align: center;
    background-color: azure;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

.hess {
    text-align: center;
}

body {
    background: #121212; 
    background-size: cover;
}

#join_game {
    background-image:url('icons/gradient-colors.gif'); 
    background-repeat: repeat; 
    background-size: cover;
}

#create_game {
    background-image:url('icons/gradient-colors.gif'); 
    background-repeat: repeat; 
}



.menu {
    font-family: sans-serif;
    position: absolute;
    width: 50%;
    top: 40%;
    left: 25%;
    z-index: 10;
    background: rgb(73, 73, 73);
    color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 45%);
}

/* More handlebars stuff */

.create-session{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
    margin-bottom: 20px;
    
}

.savemap {
    text-align: center;
    display: flex;
    justify-content: center;

}

.mapselect {
    text-align: center;
    display: flex;
    justify-content: center;
}

.join-session {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.first {
    text-align: center;
    display: flex;
    margin: auto;
}

.sec {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: auto;
   
    
}


#token-list {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#token-list > * {
    pointer-events: all;
}