<div>
    <div>
        <input placeholder="Username">
        <input placeholder="Password">
        <button id="join-session">Join As Player</button>
        <button id="join-session">Join As DM</button>
    </div>
    <div>
        <input placeholder="Username">
        <input placeholder="Password">
        <input placeholder="DM Password">
        <button id="create-session">Create Session</button>
    </div>
</div>